In [1]:
"hello world?"

'hello world?'

In [2]:
"hwyy/nuru"

'hwyy/nuru'

In [3]:
print("hello\nlolololo")

hello
lolololo

In [135]:
print("{pi!s} {pi!r} {pi!a}".format(pi="œÄ"))

œÄ 'œÄ' '\u03c0'

In [ ]:
help(str)

In [ ]:
database=[
    ['jashan','32213'],
    ['mohit','432421'],
    ['loltu','123457'],
    ['klmuu','767676'] 
] 
username=input("enter your name")
pin=input("enterpin:")
if[username,pin] in database:
    print('acess granted ')
else:
        print("bhag ")

In [ ]:
sentence=str(input("sentence:"))

screen_width=80
text_width=len(sentence)
box_width=text_width+5
leftmargin=(screen_width-box_width)/2
print()
print('+'   + '-' * (box_width-1)  +   '+')
print('|  ' + ' ' * text_width     + '  |')
print('|  ' +       sentence       + '  |')
print('|  ' + ' ' * text_width     + '  |')
print('+'   + '-' * (box_width-1)  +   '+')

In [ ]:
len("l00".encode("utf-32"))

In [23]:
len("How long is this?".encode("UTF-32"))

72

In [136]:
"you are a :\N{tiger}"

'you are a :üêÖ'

In [22]:
"\U0001F60A"

'üòä'

In [35]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [8]:
edward = ['Edward Gumby', 444]

In [9]:
edward = ['Edward Gumby', 42]
john = ['John Smith', 50]
database = [edward,  john]

In [10]:
database

[['Edward Gumby', 42], ['John Smith', 50]]

In [28]:
heyy='hey how are you'
heyy[1]
heyy[-1]
heyy[6]
heyy[-9]

'w'

In [31]:
months = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]
# A list with one ending for each number from 1 to 31
endings = ['st', 'nd', 'rd'] + 17 * ['th'] \
        + ['st', 'nd', 'rd'] +  7 * ['th'] \
        + ['st']
year    = input('Year: ')
month   = input('Month  (1-12): ')
day     = input('Day (1-31): ')
month_number = int(month)
day_number = int(day)
# Remember to subtract 1 from month and day to get a correct index
month_name = months[month_number-1]
ordinal = day + endings[day_number-1]
print(month_name + ' ' + ordinal + ', ' + year)

Year: 2018
Month  (1-12): 3
Day (1-31): 19
March 19th, 2018

In [39]:
ju=[1,3,33,344,4,44,4556,555,434]
#slicing 
#when we use - indexing and slicing started from the end 
ju[3:]

[344, 4, 44, 4556, 555, 434]

In [44]:
ju[-3:-1]

[4556, 555]

In [45]:
[1,2,3,4,5,6,7,8]+[848,33,32222,44,]

[1, 2, 3, 4, 5, 6, 7, 8, 848, 33, 32222, 44]

In [46]:
'hello'+'world'

'helloworld'

In [55]:
permissions = 'rw' 
#boolean in string

In [58]:
'x'in permissions

False

In [59]:
#list opretors 
x=[1,2,3,]

In [60]:
x

[1, 2, 3]

In [61]:
x[1]=4 #replacing in lists

In [62]:
x

[1, 4, 3]

In [71]:
del x [1:2] #deleting using del fucncation  in python

In [72]:
x

[1]

In [74]:
name=list('lolol') #assinging and slicing

In [76]:
name[1:3]

['o', 'l']

In [86]:
lst = [1, 2, 3]
lst.append(4)
lst

[1, 2, 3, 4]

In [91]:
lst=[2,3,45,5]
lst.insert(344,'hello world')#mereging  or adding to list
lst

[2, 3, 45, 5, 'hello world']

In [137]:
x=[1,44,654,4,56]#The pop method removes an element (by default, the last one) from the list and returns it.
x.pop()

56

In [113]:
x.remove(1)#to remove anything from list 
x

[44, 654, 4]

In [114]:
x.reverse()
x

[4, 654, 44]

In [115]:
x.sort()

In [116]:
x

[4, 44, 654]

In [124]:
#advance sorting
m=['adsjasfdasfjs','sdad3erwrwetrw','liwrtjiwnfj']
m.sort(key=len)#sorting lists acoording to lenght
m.sort(reverse=True)#rverse and and sorting the list

In [125]:
m

['sdad3erwrwetrw', 'liwrtjiwnfj', 'adsjasfdasfjs']

In [126]:
#Tupels
#they are immutable squenncess

In [127]:
1,3,4

(1, 3, 4)

In [130]:
43,

(43,)

In [131]:
3*(44 +4332)

13128

# len(seq)
#Returns the length of a sequence
list(seq) #Converts a sequence to a list
max(args) 
#Returns the maximum of a sequence or set of arguments
min(args) #Returns the minimum of a sequence or set of arguments
reversed(seq) #Lets you iterate over a sequence in reverse
sorted(seq) #Returns a sorted list of the elements of seq
tuple(seq)

# srtings
string.digits : A string containing the digits 0‚Äì9
‚Ä¢ string.ascii_letters : A string containing all ASCII letters (uppercase and lowercase)
‚Ä¢ string.ascii_lowercase : A string containing all lowercase ASCII letters
‚Ä¢ string.printable : A string containing all printable ASCII characters
‚Ä¢ string.punctuation : A string containing all ASCII punctuation characters
‚Ä¢ string.ascii_uppercase : A string containing all uppercase ASCII letters

In [140]:
"**The Middle by Jimmy Eat World **".center(22)#using center we can align text in center centers the string by padding

'**The Middle by Jimmy Eat World **'

In [141]:
'With a moo-moo here, and a moo-moo there'.find('moo')

7

In [ ]:
title = "Monty Python's Flying Circus"
title.find('pyhton')

names=['lol',32,1,231,31,32432432,234]
name = input("enter a code:")
if name.strip() in names: print('Found it!')
else :
        print("not avaiable ")

In [ ]:
l=[1,3,4,4,4]
if l